@font-face {
    font-family: 'LionKingFont';
    src: url('fonts/LionKingFont.ttf') format('truetype');
}

@font-face {
    font-family: 'TreasurePlanetFont';
    src: url('fonts/TreasurePlanetFont.ttf') format('truetype');
}

@font-face {
    font-family: 'AvatarFont';
    src: url('fonts/AvatarFont.ttf') format('truetype');
}

body {
    background-color: #f6dc59; 
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    background-color: #fbe779;
    padding: 20px;
}

ul {
    list-style: none; 
    padding: 0;
}

ul li a {
    color: black; 
    text-decoration: none; 
}

#lion-king {
    font-family: 'LionKingFont'; 
    text-align: center; 
    src: url('fonts/LionKingFont.ttf') format('truetype');
}

#treasure-planet {
    font-family: 'TreasurePlanetFont'; 
    text-align: justify;
    src: url('fonts/TreasurePlanetFont.ttf') format('truetype');
}

#avatar-aang {
    font-family: 'AvatarFont'; 
    text-align: left; 
    src: url('fonts/AvatarFont.ttf') format('truetype');
}

.images-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.images-row img {
    border-radius: 15px; 
    width: 30%;
}

b {
    font-weight: bold; 
}

strong {
    font-weight: 700; 
}

.bold-css {
    font-weight: 600; 
}

